/* RubbishList.module.css */
.container {
  padding: 10px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.title {
  margin: 0 !important;
  color: #722ed1 !important;
  flex-shrink: 0;
}

.searchInput {
  width: 250px !important;
  border-radius: 8px;
  flex-shrink: 1; 
}

.itemCard {
  padding: 16px;
  background-color: #fdfdfd;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  transition: all 0.3s;
}

.itemInfo {
  flex: 1;
  min-width: 0;
}

.itemHeader {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
  gap: 4px;
}

.itemTitle {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%; 
}

.dateTag {
  margin-left: 4px;
  border-radius: 4px;
  font-size: 12px;
}

.buttonGroup {
  display: flex;
  gap: 8px;
  flex-shrink: 0; 
}

.listWrapper {
  flex: 1;
  overflow: visible; 
}

.paginationWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.paginationWrapper :global(.ant-pagination) {
  display: flex;
  justify-content: center;
  width: 100%;
} */

/* 모바일 */
@media (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .title {
    font-size: 16px !important;
  }

  .searchInput {
    width: 140px !important;
    flex: 1;
  }

  .itemCard {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
  }

  .itemInfo {
    width: 100%;
    margin-bottom: 10px;
  }

  .itemTitle {
    max-width: 100%;
  }

  .buttonGroup {
    width: 100%;
    justify-content: flex-end; 
    border-top: 1px dashed #f0f0f0;
    padding-top: 8px;
  }

  .itemDescription {
    display: block;
    font-size: 12px;
    margin-top: 4px;
  }
}